nav {
  position: fixed;
  top: 60px;
  left: 60px;
  background: #f5f5f5;
}

.nav {
  &__item {
    display: block;
    padding: 5px 10px;
    width: 300px;
    height: 50px;
  }

  &__link {
    display: inline-block;
    float: left;
    height: 50px;
    width: 100%;

  }
}

.selector {
  &-hello {
    background: url("../images/nav-active-hola.png");
  }
  &-works {
    background: url("../images/nav-active-acerca-de-mi.png");
  }
  &-about-me {
    background: url("../images/nav-active-trabajos.png");
  }
  &-contacts {
    background: url("../images/nav-active-contacto.png");
  }
}

#selector {
  position: absolute;
  height: 50px;
  width: 290px;
}